#midashi {
  position: fixed;
  width: 100%;
  height: 60%;
  top: 50%;
  left: 0%;
  color: black;
}

#tukutteru {
	position: relative;
	left: 20%;
	width: 60%;
	height: auto;
	top: 10%;
	background: rgba(0,0,0,5);
	color: white;
}